h1{
  font-size: 20px;
  border: 10px outset gray;
  height: 100px;
  width: 300px;
  font-family: 'Squada One', cursive;
  text-align: center;
  background-color: rgb(109, 62, 62);
  /*float: left; */
  padding: 100px 10px 10px 10px;
  left: 40px;
  color: white
  
}

img{
  margin: 50px 0px;
}