body{
    background-color: rgb(241, 249, 228);   
    /* border: solid 3px black; */
    /* text-align: center; */
}

li{
    display: inline-block;
    text-align: center;
    margin: 10px 100px 20px
}

ul{
    text-align: center;

}

h1{

    text-align: center;
}



.primary{
    border: 1px solid blue;
    background-color: lightskyblue;
    text-align: center;
    margin: 30px 20px
}

.firstplace{
    : center;
}

.alternate{
    margin: 20px
}



p{
    text-align: center;
}